# expo
.expo/

# vscode
.vscode/

# jest cache
.jest/

# dependencies
/node_modules

# Thumbnails
._*

# Bundle artifact
*.jsbundle

# BUCK
buck-out/
\.buckd/
*.keystore

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*